<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body id="page-top">

  <% include ../partials/nav.ejs %>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <div class="my-auto">
        <h1 class="mb-0" id="__h1_name">
          Cade<span class="text-primary">&nbsp;Holmes</span>
        </h1>
        <div class="subheading mb-5">Front End Developer</div>
        <div class="subheading mb-5">6605 C.L. Stein Mews · Rowlett, TX 75088 · (214) 770-8703 ·
          <a href="mailto:holmesc16@gmail.com">holmesc16@gmail.com</a>
        </div>
        <p class="lead mb-5">
          I am a developer with a penchant for aesthetic web design as well as thoroughly conducting testing
          throughout the development lifecycle.
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/cade-holmes-9a8b91117/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/holmesc16">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Full Stack Developer</h3>
            <div class="subheading mb-3">City of Lewisville</div>
            <p>
              Currently developing stable, usable, and maintainable software applications using ES6, Node, Vue.js, Webpack, HTML5, CSS3, and SQL Server. Key achievements are designing and developing custom dashboards for city officials, as well as robust and in-depth departmental reports using SSRS. I Provide development and workflow analysis for internal and public-facing applications. Prior to development, I interpret and define business rules and feature requests. Throughout the design lifecycle I provide support for internal documentation of functional specifications.
            </p>
            
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">December 2018 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Front End Web Developer</h3>
            <div class="subheading mb-3">MCI USA</div>
            <p>
                Created and developed web applications for end-user registration using Adobe ColdFusion,
                HTML5, CSS3, Foundation CSS, JavaScript, and jQuery	for the front-end. I relied on both client-provided
                and in-home proprietary APIs for implementing a smooth user experience from back-end to front.
                Typical data integration consisted of webservice &amp; SOAP calls.
                <em>Very</em> diligent and prudent Github user (I commit early and often).
                 Proficiency with SQL, particularly Oracle 12c. Operated within an
                 Iterative Waterfall Methodology, JIRA / Atlassian.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2017 - December 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Production Analyst</h3>
            <div class="subheading mb-3">Brierley + Partners</div>
            <p>Built massive, highly marketed and data-feedback-rich e-communications. Created complex conditions
              for these e-communications based on by-user-for-user data and client business requirements. Maintained
              close communications with client represenatives and project managers (soft-skills a must!) to ensure time-sensitive deliverables
              are deployed on a daily basis. Deep understanding of HTML, CSS, XSL (JSP-based) scripting languages. Learned a great appreciation
              for truly understanding the schematic differences between web browsers as well as email clients and their respective capabilities/constraints.
              I am currently employed with Brierley on a contract / freelance basis. Current workload includes assisting in completing a creative rebrand for a
              globally-recognized client, as well as performing a complete data / content migration from Teradata to SalesForce CMS. Skilled in AMPScript.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2016 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Librarian</h3>
            <div class="subheading mb-3">City of Dallas</div>
            <p>Coordinated and oversaw implementation and successful maintenance of community-based programs and special projects. Translated communications and survey data from Spanish to English.
              Collected, edited, and maintained district and demographic-related data into multiple database systems. Conducted in-depth research and analysis of local demographics and businesses in one of Dallas’ most burgeoning and diverse neighborhoods.
              Assisted heavily in the implementation and structure of educational classes, GED classes and literacy classes.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2014 - November 2016</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
      <div class="my-auto">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">University of North Texas</h3>
            <div class="subheading mb-3">Master of Science</div>
            <div>Information Science &amp; Systems<br/>
                <span style="color:#999; font-size:.9em">Academic Certificate, Digital Content Management</div>
            <p>GPA: 3.9</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2015 - May 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">University of North Texas</h3>
            <div class="subheading mb-3">Bachelor of Arts</div>
            <div>English Literature &amp; Rhetorical Studies</div>
            <p>GPA: 3.3</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2010 - May 2013</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
      <div class="my-auto">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
            <!-- <span class="__p_skill-desc">HTML5</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
            <!-- <span class="__p_skill-desc">CSS3</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
            <!-- <span class="__p_skill-desc">JavaScript</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
            <!-- <span class="__p_skill-desc">Node.js</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
            <!-- <span class="__p_skill-desc">NPM</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fab fa-gulp"></i>
            <!-- <span class="__p_skill-desc">Gulp</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
            <!-- <span class="__p_skill-desc">Sass</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fas fa-terminal"></i>
            <!-- <span class="__p_skill-desc"> CLI</span> -->
          </li>
        </ul>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fas fa-database"></i>
            <!-- <span class="__p_skill-desc">Oracle 12C</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fab fa-aws"></i>
            <!-- <p class="__p_skill-desc">Amazon S3</span> -->
          </li>
          <!-- <li class="list-inline-item">
            <i class="fab fa-google"></i>
            <span class="__p_skill-desc">Google Analytics</span>
          </li> -->
          <li class="list-inline-item">
            <i class="fab fa-drupal"></i>
            <!-- <span class="__p_skill-desc">Drupal</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fab fa-docker"></i>
            <!-- <span class="__p_skill-desc">Docker</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fab fa-git-square"></i>
            <!-- <span class="__p_skill-desc">Git</span> -->
          </li>
          <li class="list-inline-item">
            <i class="fab fa-vuejs"></i>
            <!-- <span class="__p_skill-desc">Vue</span> -->
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            I model my approach for sleek and solid UX on a mobile-first, responsive design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Skilled in Cross Browser Testing &amp; Debugging </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Team-member, very effective communicator both within the department as well as with client-facing teammates</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
      <div class="my-auto">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a Web Developer, I enjoy most of my time being outdoors. I love to play soccer, run, really just exercise in general. </p>
        <p class="mb-0">During my indoor time I enjoy reading, listening to AM radio, and pushing myself to deeply understand the latest technology trends in the front-end web development world (sometimes I will combine all three of these).</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
      <div class="my-auto">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Academic Certifcate, Digital Content Management &mdash; <em>University of North Texas (2017)</em></li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Introduction to Computer Programming &mdash; <em>San Jose State University (2016)</em></li>

        </ul>
      </div>
    </section>

  </div>

  <% include ../partials/footer.ejs %>
</body>
</html>
